{% load static %}

<!-- Container-fluid starts-->
<div class="container-fluid jkanban-container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2>Default Demo</h2>
          </div>
          <div class="card-body">                    
            <div id="demo1"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2>Custom Board  </h2>
            <p class="f-m-light mt-1">Colors, gutter, click on board&apos;s item and restricting which boards to drag items too.</p>
          </div>
          <div class="card-body">                    
            <div id="demo2"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2>API</h2>
            <p class="f-m-light mt-1">Add item, add board, delete board.                </p>
          </div>
          <div class="card-body">                    
            <div id="demo3"></div>
            <div class="kanban-buttons">
              <button class="btn btn-success" id="addDefault">Add &quot;Default&quot; board</button>
              <button class="btn btn-success" id="addToDo">Add element in &quot;To Do&quot; Board</button>
              <button class="btn btn-danger" id="removeBoard">Remove &quot;Done&quot; Board</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card note p-20">jKanban is pure agnostic javascript plugin for Kanban boards for more options please refer <a href="http://www.riccardotartaglia.it/jkanban/" target="_blank">jkanban Official site  </a>and <a href="https://github.com/riktar/jkanban" target="_blank">githup link</a></div>
      </div>
    </div>
</div>
  <!-- Container-fluid Ends-->

