{% load static %}
{% load sass_tags %}

<div class="col-xl-9 xl-60 order-xl-0 order-1 box-col-12">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="blog-box blog-list row">
            <div class="col-sm-5"><img class="img-fluid sm-100-w" src="{% static 'assets/images/faq/1.jpg' %}" alt=""></div>
            <div class="col-sm-7">
              <div class="blog-details">
                <div class="blog-date"><span>05</span> January 2023</div>
                <h6>Java Language </h6>
                <div class="blog-bottom-content">
                  <ul class="blog-social">
                    <li>by: Paige Turner</li>
                    <li>15 Hits</li>
                  </ul>
                  <hr>
                  <p class="mt-0">Learning new skills that will position you for success in the future is crucial as the workplace changes. Even while learning new techniques, methods, and approaches might be difficult, doing so is crucial for increasing your economic mobility and securing stable employment. Retraining and upskilling are two important methods for achieving this.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="blog-box blog-list row">
            <div class="col-sm-5"><img class="img-fluid sm-100-w" src="{% static 'assets/images/faq/2.jpg' %}" alt=""></div>
            <div class="col-sm-7">
              <div class="blog-details">
                <div class="blog-date"><span>10</span> March 2023</div>
                <h6>Web Development </h6>
                <div class="blog-bottom-content">
                  <ul class="blog-social">
                    <li>by: Petey Cruiser</li>
                    <li>34 Hits</li>
                  </ul>
                  <hr>
                  <p class="mt-0">Websites that are both aesthetically pleasing and user-friendly are the work of eb designers. They create layouts, visuals, and interactive components by fusing technical expertise with creative imagination. To make sure websites perform seamlessly across all devices and browsers, web designers use a variety of tools and programming languages, including HTML, CSS, and JavaScript. By concentrating on user experience (UX) and user interface (UI) design, they seek to improve the usability and attractiveness of websites.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/3.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>3 April 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">One line at a time, a web developer's code has the power to change the world.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/1.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>12 April 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">The only thing you can purchase that increases your wealth is travel.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/4.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>5 May 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">Live simply, move lightly, and radiate and embody light.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/2.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>28 July 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">Your voice becomes your most powerful asset in the blogging world.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/4.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>29 July 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">Blogging is the platform to leave a digital footprint on the sands of time.</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 xl-50 col-sm-6 box-col-6">
        <div class="card">
          <div class="blog-box blog-grid text-center product-box">
            <div class="product-img"><img class="img-fluid top-radius-blog" src="{% static 'assets/images/faq/3.jpg' %}" alt="">
              <div class="product-hover">
                <ul>
                  <li><i class="icon-link"></i></li>
                  <li><i class="icon-import"></i></li>
                </ul>
              </div>
            </div>
            <div class="blog-details-main">
              <ul class="blog-social">
                <li>30 July 2023</li>
                <li>by: Admin</li>
                <li>0 Hits</li>
              </ul>
              <hr>
              <h6 class="blog-bottom-details">The digital era's pulse, blogging connects people's hearts and brains.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>