{% load static %}

<!-- user profile first-style start-->
<div class="col-sm-12">
    <div class="card hovercard text-center">
      <div class="cardheader"></div>
      <div class="user-image">
        <div class="avatar"><img alt="" src="{% static 'assets/images/user/7.jpg' %}"></div>
        <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
      </div>
      <div class="info">
        <div class="row g-3">
          <div class="col-sm-6 col-xl-4 order-sm-1 order-xl-0">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="tour-email text-start">
                  <h6><i class="fa fa-envelope"></i>   Email</h6><span>William@jourrapide.com</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tour-email text-start">
                  <h6><i class="fa fa-calendar"></i>   BOD</h6><span>02 January 2023</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4 order-sm-0 order-xl-1">
            <div class="user-designation">
              <div class="title"><a target="_blank" href="">William C. Jennings</a></div>
              <div class="desc">Web Designer</div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 order-sm-2 order-xl-2">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="tour-email text-start">
                  <h6><i class="fa fa-phone"></i>   Contact Us</h6><span>US 310-273-0666</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tour-email text-start">
                  <h6><i class="fa fa-location-arrow"></i>   Location</h6><span>4377 Libby Street Beverly Hills</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="social-media">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
        <div class="follow">
          <div class="row">
            <div class="col-6 text-md-end border-right">
              <div class="follow-num counter">25869</div><span>Follower</span>
            </div>
            <div class="col-6 text-md-start">
              <div class="follow-num counter">659887</div><span>Following</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- user profile first-style end-->
  <!-- user profile second-style start-->
  <div class="col-sm-12">
    <div class="card">
      <div class="profile-img-style">
        <div class="row">
          <div class="col-sm-8">
            <div class="d-flex"><img class="img-thumbnail rounded-circle me-3" src="{% static 'assets/images/user/7.jpg' %}" alt="Generic placeholder image">
              <div class="flex-grow-1 align-self-center">
                <h5 class="mt-0 user-name">William C. Jennings</h5>
                <div class="tour-wrapper"><span>26 Jan</span><i class="tour-dot fa fa-circle"></i><span class="txt-danger">6 min read</span></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 align-self-center mt-0 text-end">
            <div class="social-media social-tour" data-intro="This is your social details">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://accounts.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://rss.app/" target="_blank"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <div class="float-sm-end"><small>10 Hours ago</small></div>
          </div>
        </div>
        <hr>
        <h5 class="pb-2">Wonderful piece that successfully conveys the magnificence of the mountains and the natural world.</h5>
        <p class="block-ellipsis">English Romantic painter, printer, and watercolourist <em class="txt-danger">William C. Jennings</em> Is most renowned for his expressive colorization, creative landscapes, and stormy, sometimes violent maritime works. However, this moody image of the Devil's Bridge in Switzerland, close to the Gotthard Pass, feels incredibly authentic and accurately depicts historical occasions when Russian general Suvorov crossed the Alps and fought not only far larger enemy troops!</p>
        <div class="img-container">
          <div class="my-gallery" id="aniimated-thumbnials" itemscope="">
            <figure itemprop="associatedMedia" itemscope=""><a href="{% static 'assets/images/other-images/profile-style-img3.png' %}" itemprop="contentUrl" data-size="1600x950"><img class="img-fluid rounded" src="{% static 'assets/images/other-images/profile-style-img3.png' %}" itemprop="thumbnail" alt="gallery"></a>
              <figcaption itemprop="caption description">Image caption  1</figcaption>
            </figure>
          </div>
        </div>
        <div class="like-comment">
          <ul class="list-inline">
            <li class="list-inline-item border-right">
              <label class="m-0"><a href="#!"><i class="fa fa-heart"></i></a>  Like</label><span class="ms-2 counter">2659</span>
            </li>
            <li class="list-inline-item">
              <label class="m-0"><a href="#!"><i class="fa fa-comment"></i></a>  Comment</label><span class="ms-2 counter">569</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- user profile second-style end-->