{% load static %}

<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-info"><i class="icofont icofont-love"></i></div><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter12"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter12" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Our t-shirts are made from high-quality, breathable materials and are ideal for layering under your favourite coats and cardigans as well as for casual outings and workouts.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Dream Beauty Fashion</h3></a>
          <p>Tops for Women Stylish</p>
          <div class="product-price">$30.00 
            <del>$360.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter13"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter13" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Our wide variety guarantees you'll discover the ideal t-shirt to reflect your uniqueness, whether you like a loose fit or a thin, flattering cut.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$25.00 
            <del>$400.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <div class="ribbon ribbon-clip ribbon-warning">Hot</div><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter14"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter14" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">From chic dresses to trendy tops, we have the perfect outfit to express your unique personality. Shop now and stay ahead in the world of fashion!</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Cyclamen</h3></a>
          <p>Stylish co-ord set 2 piece dress for women</p>
          <div class="product-price">$30.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter15"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter15" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">We support fusing style with comfort and toughness. Each item in our collection is made from high-quality materials to provide a perfect balance of elegance and durability.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Dream Beauty Fashion</h3></a>
          <p>Tops for Women Stylish</p>
          <div class="product-price">$30.00 
            <del>$360.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter16"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter16" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter16" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">With our carefully picked collection of on-trend items, stay ahead of the fashion curve. For you to receive the freshest fashion goods, our team of fashion specialists closely monitors the most recent runway trends.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$25.00
            <del>$400.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter17"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter17" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter17" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/01.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Utilise our exquisite selection of accessories to finish off your outfit. Our accessories range provides the ideal finishing touch to every ensemble, from spectacular jewellery to chic purses.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Woman T-shirt</h3></a>
          <p>Women Full Sleeve Printed Sweatshirt</p>
          <div class="product-price">$26.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>