{% load static %}

<div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter18"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter18" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter18" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Take advantage of a smooth purchasing experience on our easy-to-use website. To discover exactly what you're searching for, explore our simple categories and sort by style, colour, or size.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$26.00                                              
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter19"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter19" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter19" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">With our extensive selection of fashionable clothing, embrace your uniqueness and grab the attention. You may use our selection to express your true self via fashion.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$25.00 
            <del>$400.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter20"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter20" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter20" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/04.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Our trendy coats epitomise classic elegance with a contemporary edge. Every item, from timeless trench coats to tough leather jackets, is carefully crafted to enhance your style and leave a lasting impression.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Cyclamen</h3></a>
          <p>Stylish co-ord set 2 piece dress for women</p>
          <div class="product-price">$30.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter21"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter21" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter21" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/02.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Our designer coats serve a variety of purposes and are more than just a fashion statement. With our coats, you're covered in every season.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>Dream Beauty Fashion</h3></a>
          <p>Tops for Women Stylish</p>
          <div class="product-price">$30.00 
            <del>$360.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter22"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter22" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter22" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">We put an emphasis on eco-friendly procedures to make sure that our coats are not only fashionable but also considerate of the environment.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$26.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 xl-4">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li>
                <button class="btn" type="button"><i class="icon-shopping-cart"></i></button>
              </li>
              <li>
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter23"><i class="icon-eye"></i></button>
              </li>
              <li>
                <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter23" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter23" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/03.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h6 class="f-w-600">Product Details</h6>
                      <p class="mb-0">Enjoy the plush feel of our high-end materials. We only use the best fabrics available, guaranteeing softness, comfort, and durability so you may wear your trendy jacket with assurance year after year.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-outline-primary" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h6 class="f-w-600">Quantity</h6>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h3>VOXATI</h3></a>
          <p>Men's Denim Jacket</p>
          <div class="product-price">$26.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>