{% load static %}
{% load sass_tags %}

<div class="col-lg-12">
    <div class="header-faq">
      <h2 class="mb-0">Latest Articles and Videos</h2>
    </div>
    <div class="row faq-wrapper">
      <div class="col-xl-4 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">How to Programming Consistency.</h4>
                    <p>You must always maintain consistency as a web developer. Over time, consistency produces superior results. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">Explaining Modern CSS To A Dinosaur</h4>
                    <p>Peter Jang, the author of the very first essay on our list, has created another masterpiece, but this time, he has addressed CSS, another important aspect of web development.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500"> Make fewer designs to become a better designer.</h4>
                    <p>Designers can experience feelings of fraudulence or lack of originality. It seems like everyone else is working harder or just generally doing a better job than you are.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500"> What?! Why should I design less?</h4>
                    <p> You can view all of the stunning and remarkable things that other designers have produced by taking a peek around. You then examine your work.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">Use a GUI framework as a requirement</h4>
                    <p>Do not, under any circumstances, code your website in simple HTML. Frameworks and widget libraries are widely available.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">What?! Why should I design less?</h4>
                    <p>Information architecture is a discipline that, among other things, organises, arranges, and structures the content of a website or app. Information architects determine how to organise something's components in a way that makes sense.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">Continuous Learning</h4>
                    <p>To improve their craft and advance in the industry, web designers frequently attend courses, participate in design groups, and work on their own professional development.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500"> Design Expertise</h4>
                    <p>For websites to be aesthetically pleasing, web designers must have excellent graphic design, typography, colour theory, and layout abilities</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h4 class="f-w-500">Use vertical input forms that are clearly organised.</h4>
                    <p>Use only one column in an input form if possible. A separate row should exist for each input field.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>