{% load static %}
{% load sass_tags %}

<div class="col-xl-4 box-col-6">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3 class="f-w-600 txt-light mb-2">Articles</h3>
            <p>The usefulness and usability of a website, not its aesthetic design, define its success or failure. User-centric design has become the norm for effective and financially motivated web design since the visitor to the website is the only one who clicks the mouse and thus determines everything. After all, a feature might as well not exist if people can't utilise it.</p>
          </div><i data-feather="file-text"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 box-col-6">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3 class="f-w-600 txt-light mb-2">Knowledgebase</h3>
            <p>A knowledge base acts as a central repository for knowledge, data, and information pertaining to a certain subject or thing. Its main goal is to make it easier for consumers to obtain information quickly and conveniently so they can solve problems, find solutions, and make wise decisions.</p>
          </div><i data-feather="book-open"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 box-col-12">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3 class="f-w-600 txt-light mb-2">Support</h3>
            <p>Email, chat, forums, and a social media interface (and monitoring) are all part of real-time online assistance, which helps in reacting to public complaints and comments. Taking care of returns or repairs may fall under this.</p>
          </div><i data-feather="aperture"></i>
        </div>
      </div>
    </div>
  </div>