{% load static %}
{% load sass_tags %}

<div class="col-lg-12">
    <div class="header-faq">
      <h2 class="mb-0">Featured Tutorials</h2>
    </div>
    <div class="row">
      <div class="col-xxl-3 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/1.jpg' %}" alt="featured image">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h4 class="f-w-600 pb-1">Web Designer</h4>
            <p>Setting aside time once every three months to refresh your portfolio is a fantastic idea. Even if you are not submitting any new work, you could still need to provide more context or alter anything based on your continuing learnings and objectives. Compared to months or years later, it is far simpler to update when the information is still fresh in your mind.</p>
          </div>
          <div class="card-footer"><span>Dec 22, 2023</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/2.jpg' %}" alt="featured image">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h4 class="f-w-600 pb-1">Web Development</h4>
            <p>To display HTML and CSS components on different web browsers, such as Chrome, Safari, and previous versions of Opera, CSS3 uses the Webkit rendering engine. It offers the essential features for generating online content and guaranteeing consistency across many platforms.</p>
          </div>
          <div class="card-footer"><span>Dec 12, 2023</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star-o font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/3.jpg' %}" alt="featured image">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h4 class="f-w-600 pb-1">UI Designer</h4>
            <p>Seniority does have a significant role in how much influence a UI specialist has at this first stage of the design process. Senior UI designers may take the initiative in coming up with suggestions for which visual components will work best, whereas an entry-level UI designer is more likely to be focused on storyboards, sitemaps, and process flows and not have much influence on the site's appearance.</p>
          </div>
          <div class="card-footer"><span>Dec 10, 2023</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/4.jpg' %}" alt="featured image">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h4 class="f-w-600 pb-1">UX Designer</h4>
            <p>Information architecture is a discipline that, among other things, organises, arranges, and structures the content of a website or app. Information architects determine how to organise something's components in a way that makes sense.</p>
          </div>
          <div class="card-footer"><span>Dec 20, 2023</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star-half-o font-primary"></i></span></div>
        </div>
      </div>
    </div>
  </div>