{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feedback App{% endblock %}</title>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" id="color">

    {% block css %}{% endblock %}
  </head>

  <body class="h-100">
    <div class="page-wrapper compact-wrapper h-100" id="pageWrapper">
      <!-- Header -->
      <div class="page-header row">
        {% include 'layout/header.html' %}
      </div>

      <!-- Main Body -->
      <div class="page-body-wrapper">
        <div id="sidebarOverlay" class="d-none d-md-block position-fixed position-md-static top-0 start-0 vh-100 bg-white overflow-auto">
          {% include 'layout/sidebar.html' %}
        </div>

        <main class="page-body">
          {% block content %}{% endblock %}
        </main>

        {% include 'layout/footer.html' %}
      </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    
    {% block scriptcontent %}{% endblock %}
  </body>
</html>
