{% load static %}
{% load sass_tags %}

<div class="col-xl-9 xl-60 order-xl-0 order-1 box-col-12">
  <div class="card">
    <div class="card-body">
      <div class="blog-single">
        <div class="blog-box blog-details"><img class="img-fluid w-100" src="{% static 'assets/images/faq/learning-1.png' %}" alt="blog-main">
          <div class="blog-details pb-0">
            <ul class="blog-social">
              <li>25 July 2023</li>
              <li><i class="icofont icofont-user"></i>Mark <span>Jecno </span></li>
              <li><i class="icofont icofont-thumbs-up"></i>02<span>Hits</span></li>
              <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
            </ul>
            <h4>Knowledge can be defined as awareness of facts or as practical skills. there is wide agreement among philosophers that it is a form of true belief. Internet.</h4>
            <div class="single-blog-content-top">
              <p>Knowledge may be characterised as factual awareness or as useful skills, and it can also relate to familiarity with things or circumstances. The term "knowledge of facts," also known as "propositional knowledge," refers to a real belief that may be distinguished from an opinion or educated guess by the use of evidence. Although there is broad consensus among philosophers that it is a type of genuine belief, many philosophical debates centre on the necessity for justification, including whether it is even necessary, how to understand it, and if something else is required in addition to it.</p>
              <p>Various processes can be used to create knowledge. Perception, which is the use of the five senses, is the most significant source. Many theories also regard introspection as a way of learning about one's own mental states rather than about external physical things. Memory, logical intuition, inference, and witness are some more sources that are frequently brought up. Some of these sources, according to foundationalism, are fundamental in the sense that they are able to support beliefs independently of other mental states. Coherentists dispute this assertion.</p>
            </div>
          </div>
        </div>
        <section class="comment-box">
          <h3 class="f-w-600">Comment</h3>
          <hr>
          <ul>
            <li>
              <div class="d-flex align-self-start"><img class="align-self-start" src="{% static 'assets/images/blog/comment.jpg' %}" alt="Generic placeholder image">
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4 xl-100">
                      <h4 class="mt-0">Jolio Mark<span> ( Designer )</span></h4>
                    </div>
                    <div class="col-md-8 xl-100">
                      <ul class="comment-social float-start float-md-end learning-comment">
                        <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                        <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                      </ul>
                    </div>
                  </div>
                  <p>This well put-together theory urges designers to provide their works creative, clear explanations so that spectators may comprehend and, in a sense, "read" them at all times.</p>
                </div>
              </div>
            </li>
            <li>
              <ul>
                <li>
                  <div class="d-flex"><img class="align-self-start" src="{% static 'assets/images/blog/9.jpg' %}" alt="Generic placeholder image">
                    <div class="flex-grow-1">
                      <div class="row">
                        <div class="col-xl-12">
                          <h4 class="mt-0">Jolio Mark<span> ( Designer )</span></h4>
                        </div>
                      </div>
                      <p>Web design is a broad field, thus there are many topics to discuss and factors to take into account. It suggests that the look, layout, overall ambience, content, user experience, and accessibility have all been successfully integrated. To satisfy the timeline and the clients' expectations, hundreds of different yet related jobs must be completed.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="d-flex"><img class="align-self-start" src="{% static 'assets/images/blog/4.jpg' %}" alt="Generic placeholder image">
                <div class="flex-grow-1">
                  <div class="row">
                    <div class="col-md-4 xl-100">
                      <h4 class="mt-0">Jolio Mark<span> ( Designer )</span></h4>
                    </div>
                    <div class="col-md-8 xl-100">
                      <ul class="comment-social float-start float-md-end learning-comment">
                        <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                        <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                      </ul>
                    </div>
                  </div>
                  <p>They meticulously plan each shot, considering factors such as lighting, angles, and props to convey the desired message effectively. Commercial photographers are adept at using their technical expertise to highlight the unique features and qualities of their subjects, often manipulating lighting and post-processing techniques to achieve the desired aesthetic.</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>