{% load static %}

<div class="col-xl-9 col-md-12 box-col-12">
    <div class="email-right-aside bookmark-tabcontent">
      <div class="card email-body radius-left">
        <div class="ps-0">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="pills-created" role="tabpanel" aria-labelledby="pills-created-tab">
              <div class="card mb-0">
                <div class="card-header d-flex">
                  <h2 class="mb-0">Created by me</h2><a href="#!" onclick="window.print();"><i class="me-2" data-feather="printer"></i>Print</a>
                </div>
                <div class="card-body p-0">
                  <div class="taskadd">
                    <div class="table-responsive custom-scrollbar">
                      <table class="table">
                        <tr>
                          <td>
                            <h6 class="task_title_0">Client meeting</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">In our future client meeting, let's talk about the project's development, significant milestones.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Plan webinar</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">Join us for a thought-provoking webinar on aviation developments and how they affect the sector.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Email newsletter</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">By signing up for our email newsletter, you may be informed about our most recent news and promotions.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Publish podcast</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">We're thrilled to announce the publication of a brand-new edition of our podcast.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Lunch website</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">Visit our website to find a delicious selection of lunch alternatives that will please every appetite.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Client meeting</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">Getting ready to meet with the customer to go through project updates, objectives, and next actions.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Plan webinar</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">Join us for a thought-provoking webinar on aviation developments and how they affect the sector.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                        <tr>
                          <td>
                            <h6 class="task_title_0">Email newsletter</h6>
                            <p class="project_name_0">General</p>
                          </td>
                          <td>
                            <p class="task_desc_0">By signing up for our email newsletter, you may be informed about our most recent news and promotions.</p>
                          </td>
                          <td><a class="me-2" href="#!"><i data-feather="link"></i></a><a href="#!"><i data-feather="more-horizontal"></i></a></td>
                          <td><a href="#!"><i data-feather="trash-2"></i></a></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
