{% load static %}

<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" id="sidebar" data-sidebar-layout="stroke-svg">
  <div>
    <!-- Logo -->
    <div class="logo-wrapper">
      <a href="{% url 'dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt="logo">
      </a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar">
        <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="logo-icon-wrapper">
      <a href="{% url 'dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt="logo icon">
      </a>
    </div>

    <nav class="sidebar-main">
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">

          <li class="sidebar-main-title">
            <div>
              <h6 class="lan-1">- Main</h6>
            </div>
          </li>

          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title link-nav" href="{% url 'dashboard' %}">
              <i data-feather="home"></i><span>Dashboard</span>
            </a>
          </li>

          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title link-nav disabled" href="#">
              <i data-feather="message-circle"></i><span>Feedback (coming soon)</span>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
